<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rekisteröinti</title>
</head>
<body>
    <h1>Rekisteröidy</h1>
    <form method="POST">
        <label for="username">Käyttäjänimi:</label>
        <input type="text" name="username" required>
        <br>
        <label for="admin">Oletko Sivuston Ylläpitäjä (True/False):</label>
        <input type="text" name="admin" required>
        <br>
        <label for="salasana">Salasana:</label>
        <input type="password" name="salasana" required>
        <br>
        <button type="submit">Rekisteröidy</button>
    </form>
</body>
</html>
