<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ravintolat</title>
</head>
<body>
    <h1>Ravintolalista</h1>
    <h2>Tervetuloa, asiakas!</h2>
    
    <a href="{{ url_for('add_review') }}" style="padding: 10px 20px; background-color: orange; color: white; text-decoration: none; border-radius: 5px; display: block; margin-bottom: 20px;">Lisää Arvostelu</a>
    
    <ul>
        {% if restaurants %}
            {% for restaurant in restaurants %}
                <li>
                    <strong>{{ restaurant.name }}</strong><br>
                    Kuvaus: {{ restaurant.description }}<br>
                    Aukiolojat: {{ restaurant.opening_hours }}<br>
                    <a href="{{ url_for('reviews', restaurant_id=restaurant.restaurant_id) }}" style="color: blue; text-decoration: underline;">Lue arvosteluita</a>
                </li>
                <hr>
            {% endfor %}
        {% else %}
            <li>Ei ravintoloita saatavilla.</li>
        {% endif %}
    </ul>    

    <a href="/" style="padding: 10px 20px; background-color: orange; color: white; text-decoration: none; border-radius: 5px;">Takaisin etusivulle</a>
</body>
</html>
